<%=form_with model:@new_center, url: servicecenters_path,local: true do |f|%>
    <p>
        <%=f.label :name%>
        <%=f.text_field :name ,placeholder: "petal honda"%>
    </p>

    <p>
        <%=f.label :area%>
        <%=f.text_field :area ,placeholder: "maninagar"%>
    </p>

    <p>
        <%=f.label :city%>
        <%=f.text_field :city ,placeholder: "ahmedabad"%>
    </p>

    <p>
        <%=f.label :state%>
        <%=f.text_field :state ,placeholder: "gujrat"%>
    </p>

    <p>
        <%=f.label :pincode%>
        <%=f.text_field :pincode ,placeholder: "380008"%>
    </p>
    
    <p>
        <%=f.label :email%>
        <%=f.text_field :email ,placeholder: "petal.servicecenter@honda.com"%>
    </p>
    <%=f.submit%>
<%end%>