<%if user_signed_in?%>
<div class = 'container'>
<%= link_to 'add service center', new_service_center_admin_path %><br/><br/>
<table class='table'>
<thead>
  <tr>
    <th scope='col'>service center name</th>
    <th scope='col'>area</th>
    <th scope='col'>city</th>
    <th scope='col'>state</th>
    <th scope='col'>pincode</th>
    <th scope='col'>email</th>
  </tr>
</thead>
<%@centers.each do |center|%>
<tbody>
  <tr>
    <th scope='row'><%=center.name%></th>
    <th scope='row'><%=center.city%></th>
    <th scope='row'><%=center.area%></th>
    <th scope='row'><%=center.state%></th>
    <th scope='row'><%=center.pincode%></th>
    <th scope='row'><%=center.email%></th>
    <th scope='row'><%= link_to 'edit',   edit_service_center_path(center.id) %></th>
<%end%>
<%= link_to 'dashbord', super_admins_path %>
<%end%>
</div>