<%if user_signed_in?%>
<div class = 'container'>
<table class='table'>
<thead>
  <tr>
    <th scope='col'>vehicle name</th>
    <th scope='col'>service</th>
    <th scope='col'>service date</th>
    <th scope='col'>pickup date</th>
    <th scope='col'>special request</th>
    <th scope='col'>employee name</th>
    <th scope='col'>drop time</th>
    <th scope='col'>pickup time</th>
    <th scope='col'>service status</th>
    <th scope='col'>service center</th>
  </tr>
</thead>
    <% @bookedappoinment.each do |appoinment|%>
    <%@servicecenter=ServiceCenter.find(appoinment.service_center_id)%>
<tbody>
  <tr>
        <th scope='row'><%= appoinment.vehicle_name %></th>
        <th scope='row'><%= appoinment.service%></th>
        <th scope='row'><%= appoinment.service_date%></th>
        <th scope='row'><%= appoinment.pickup_date%></th>
        <th scope='row'><%= appoinment.special_request%></th>
        <th scope='row'><%= appoinment.employee_name%></th> 
        <th scope='row'><%= appoinment.drop_time%></th>
        <th scope='row'><%= appoinment.pickup_time%></th>
        <th scope='row'><%= appoinment.service_status%></th>
        <th scope='row'><%= @servicecenter.name%></th>
        <th scope='row'><%= link_to 'edit',  edit_appoinment_booking_path(appoinment.id) %></th>
        <th scope='row'><%= link_to 'delete', appoinment_booking_path(appoinment.id), data:{method: :delete} %></th>
    <%end%>       
</div>
<%= link_to 'dashbord', root_path %>
<%end%>