<%if user_signed_in?%>
<%=form_with model:@user,url:  company_admin_index_path,local: true do |f|%>
    
   <%= select_tag(:company_id, options_from_collection_for_select(Company.all, :id, :name), {:class=>'form-control', :prompt => 'Select company',}) %>

    <p>
        <%=f.label :firstname%>
        <%=f.text_field :firstname%>
    </p>
        
    
    <p>
        <%=f.label :laststname%>
        <%=f.text_field :lastname%>
    </p>

    
    <p>
        <%=f.label :username%>
        <%=f.text_field :username%>
    </p>

    
    <p>
        <%=f.label :email%>
        <%=f.text_field :email%>
    </p>

    
    <p>
        <%=f.label :contact%>
        <%=f.text_field :contact%>
    </p>

    <p>
        <%=f.label :password%>
        <%=f.password_field :password%>
    </p>
    
    <p>
        <%=f.label :password_confirmation%>
        <%=f.password_field :password_confirmation%>
    </p>
    <%=f.submit "create admin"%>
<%end%>
<%else%>
<h3>Please login!!!!!!!!</h3>
<h3>If you are new user then sign up</h3>
<%= link_to 'sign in', new_user_registration_path %>
<%= link_to 'sign in', new_user_session_path %>
<%end%>